
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}

footer,
header,
menu,
nav,
section {
  //display: block;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
//
// img {
//   vertical-align: middle;
// }
//
// .img-thumbnail {
//   padding: 4px;
//   line-height: 1.42857143;
//   background-color: #ffffff;
//   border: 1px solid #dddddd;
//   border-radius: 4px;
//   -webkit-transition: all 0.2s ease-in-out;
//   -o-transition: all 0.2s ease-in-out;
//   transition: all 0.2s ease-in-out;
//   display: inline-block;
//   max-width: 100%;
//   height: auto;
// }

[role="button"], .button {
  cursor: pointer;
}
.container {
  margin-right: auto;
  margin-left: auto;

}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 5px;
  padding-right: 5px;
}
// .row {
//   margin-left: -5px;
//   margin-right: -5px;
// }
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 5px;
  padding-right: 5px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }

}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }

}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }

}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}
.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
}






// $firstColor: #560764;
// $secondColor: #BB8FA9;
// $thirdColor: #D8CBBB;
// $fourthColor: #EEEEEE;

// $firstColor: #343434;
// $secondColor: #8E8B82;
// $thirdColor: #E9DCBE;
// $fourthColor: #F3F3F3;
//
// $firstColor: #757A79;
// $secondColor: #9BA6A5;
// $thirdColor: #AECCC6;
// $fourthColor: #BBE9DB;

$firstColor: #1F4E5F;
$secondColor: #0881A3;
$thirdColor: #F4E7D3;
$fourthColor: #F9F8ED;


* {
  margin: 0;
  padding: 0;
  //border: 1px solid magenta;
  font-family: 'Montserrat', sans-serif;
  text-align: justify;
  font-size: 1.6rem;
 }

html {
  font-size: 62.5%;
}

body {
  color: $firstColor;
  background-color: $thirdColor;
}

h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 1.8rem;
}

p, ul {
  line-height: 2.4rem;
}

.small-shadow {
 box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.shadow {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
     z-index: 1;
}

.shadow-hover {
  &:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
}

.container.full-width {
  width: 100%;
  overflow: visible;
}

.blocker {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,1);
  position: absolute;
  z-index: 200;
  transition: 0.5s;
}

.button {
  background-color: rgba($fourthColor, 0.5);
  border: 3px solid $firstColor;
  color: $firstColor;
  @extend .small-shadow;
  &:hover {
    @extend .shadow;
  }
}


#banner {
  padding-top: 5px;
  padding-right: 5px;
  text-align: right;
  position: absolute;
  z-index: 1000;
  right: 10px;
  top: 10px;
  width: 200px;
  height: 200px;
  position: fixed;
  background-image: url("./images/zoo_koty.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  a {
    position: absolute;
    display: inline-block;
    right: 20px;
    height: 30px;
    width: 160px;
    bottom: 5px;
  }
}

.heading {
  border-bottom: 5px solid $secondColor;
  margin-bottom: 10px;
  display: inline-block;
}


ul.square-list {
  list-style-type: square;
  list-style-position: inside;
}

header {
  padding: 1vh;
  width: 100%;
  background-color: $firstColor;
  @extend .small-shadow;
  color: $thirdColor;
  position: relative;
  nav {
    font-weight: bold;
    height: 100px;
    ul {
      float: right;
      list-style: none;
      display: flex;
      justify-content: flex-end;
      flex-direction: row;
      align-items: flex-end;
      height: 100px;
      li {
        display: inline-block;
        margin-right: 1vw;
        text-align: center;
        border-bottom: 5px solid $firstColor;
        padding: 5px;

        &:hover {
          border-bottom: 5px solid $secondColor;
        }
        &:active {
          background-color: $secondColor;
          color: $firstColor;
        }
      }
    }
  }
}

.logo {
  height: 100px;
  background-image: url("./images/catlogo.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}

.main {
  background-image: url("./images/catpaws.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 50vh;
  section {
    display: inline-block;
    height: 100%;
    background-color: rgba($thirdColor, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1, h2, h3 {
      text-shadow: 2px 2px $secondColor;

    }
    button {
      font-size: 30px;
      padding: 5px;
      margin-top: 20px;

    }
  }

}

.flex {
  display: flex;
}

.about {
  margin-top: 30px;
  .row.flex {
    flex-wrap: wrap;
    div.flex {
      padding: 10px;
      @media (min-width: 992px) {
        .tile.img {
          background-image: url("./images/catpavement.jpg");
          .blend {
            padding: 0 30px 0 30px;
          }

        }
      }
    }
  }

}


.tile {
  background-color: $fourthColor;
  padding: 20px;
  @extend .small-shadow;
  @extend .shadow-hover;
  width: 100%;
  display: inline-block;
  li {
    text-align: left;
  }
  &.img {
    padding: 0;
    background-size:cover;
    float: right;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: padding-box;
    .blend {
      padding-top: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 100%;
      background-color: rgba($thirdColor, 0.6);
      p {
        text-align: center;
        font-weight: bold;
        font-size: 1.8rem;
        line-height: 3rem;
      }
      button {
        font-size: 2rem;
        padding: 10px;
        margin-top: 30px;
        margin-bottom: 30px;
      }
    }
  }
}




.adopt {
  margin-top: 30px;
  .btn-wrapper {
    display: flex;
    justify-content: center;
  }
  button {
    font-size: 2rem;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .row.flex {
    flex-wrap: wrap;
    div.flex {
      padding: 10px;
    }
  .virtual-adopt {

    }
  }
}
#slider {
  width: 100%;
  background-image: url("./images/catslider.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
}




.another {
  margin-top: 30px;
  .row.flex {
    flex-wrap: wrap;
    div.flex {
      padding: 10px;
    }
  }
}

.map {
  padding: 10px;
}

#map {
  width: 100%;
  min-height: 300px;
}


footer {
  margin-top: 30px;
  background-color: $firstColor;
  color: $secondColor;
  padding: 15px;
  ul {
    list-style: none;
  }
  li {
    font-size: 1.2rem;
    line-height: 1.6rem;
    .fa {
      font-size: 4rem;
    }
  }
  .social-media {
    width: auto;
    float: right;
    p {
      margin-bottom: 20px;
      padding-left: 20px;
    }
    li {
      display: inline;
      margin-left: 20px;
    }
    a {
      color: inherit;
    }
  }

}


// --------------- adoptions -----------------//

* {
  //border: 1px solid magenta;
}

#selection-bar {
  background-color: $secondColor;
  color: $thirdColor;
  padding: 10px;
  @extend .small-shadow;
  .sort-container {
    float: right;
    #sort {
      display: inline-block;
      float: right;
    }
  }
}

#filter-menu {
  position: absolute;
  @extend .small-shadow;
  color: $firstColor;
  background-color: $fourthColor;
  top: 33px;
  left: -10px;
  width: 60vw;
  padding: 10px;
  z-index: 2;
  form {
    font-size: 2rem;
    line-height: 3.3rem;
    span {
      font-size: 2.2rem;
      padding-left: 15px;
      font-weight: bold;
    }
    input {
      margin-left: 20px;
    }
    [type="submit"] {
      font-size: 2rem;
      margin-top: 20px;
      float: right;
      padding: 10px;
      margin-right: 20px;
    }
  }
}

.black-blend {
  position: absolute;
  background-color: rgba(black,0.3);
  height: 100vh;
  width: 100vw;
  z-index: 1; /// oagrnąć z-indeksy jak bedzie czas, źle się wyświetla shadow nad filter-menu
}

#filter-menu-desktop {
  display: none;
  @extend .small-shadow;
  color: $firstColor;
  background-color: $fourthColor;
  form {
    font-size: 1.8rem;
    line-height: 3.3rem;
    span {
      font-size: 2rem;
      padding-left: 15px;
      font-weight: bold;
    }
    input {
      margin-left: 20px;
    }
    [type="submit"] {
      font-size: 2rem;
      margin-top: 20px;
      float: right;
      padding: 10px;
      margin-right: 20px;
      margin-bottom: 20px;
    }
  }
  @media (min-width: 992px) {
    display: block;
  }

}

#results {
  padding-top: 10px;
  .tile {
    padding: 5px;
  }
  .cat-card {
    margin-bottom: 10px;
    img {
      width: 100%;
    }
    .cat-short-desc {
      p {
        font-size: 1.4rem;
        line-height: 1.9rem;
      }
      button {
        padding: 5px 3px 5px 3px;
        margin: 5px 10px 5px 10px;
        &.more {
          float: left;
        }
        &.donate {
          float: right;
        }
      }
    }
  }
}










//
// #logo {
//   height: 100px;
// }
//

//
//
// #hamburger {
//   position: fixed;
//   right: 20px;
//   top: 10px;
//   z-index: 202;
// }
//
// .hamburger-menu {
//   position: absolute;
//   right: 0;
//   top: 0;
//   width: 60vw;
//   background-color: $fourthColor;
//   font-size: 5vw;
//   line-height: 2em;
//   z-index: 201;
//   transition: 0.5s;
//   overflow: hidden;
//
//   ul {
//       overflow: hidden;
//     list-style: none;
//     li {
//       padding-left: 20px;
//     }
//
//   }
// }
//
// .search-component {
//   width: 100vw;
//   background-color: $secondColor;
//   padding-top: 1vh;
//   padding-bottom: 1vh;
//   position: relative;
//   span {
//     font-size: 6vw;
//   }
//   .button {
//     font-size: 5vw;
//   }
//   // z-index: 1;
//   // position: fixed;
//
// }
//
// .filter-menu {
//   position: absolute;
//   margin-left: -10px;
//   width: 60vw;
//   font-size: 5vw;
//   line-height: 2em;
//   z-index: 1;
//   transition: 0.5s;
//   form {
//     position: absolute;
//     width: 100%;
//     background-color: $fourthColor;
//     color: $firstColor;
//     overflow: hidden;
//   }
//   span {
//     margin-left: 5vw;
//     font-weight: bold;
//   }
//   input {
//     margin-left: 10vw;
//   }
//   input[type="submit"] {
//     margin-top: 20px;
//     float: right;
//     margin-right: 10vw;
//     margin-bottom: 20px;
//   }
//
// }
//
// .slide {
//   width: 0;
// }
//
//
// #sort {
//   float: right;
//   font-size: 6vw;
//   select {
//     font-size: 5vw;
//   }
// }
//
//
//
//
//
//
//
//
//
// .results {
//
// }
//
// .card {
//   margin-top: 3vh;
//   margin-right: 2vh;
//   margin-left: 2vh;
//   background-color: $fourthColor;
//   padding-bottom: 10px;
//   @extend .small-shadow;
// }
//
// .images {
//
//   .card-img {
//     width: 100%;
//     margin-bottom: 10px;
//   }
//   .donate {
//     width:30%;
//     margin-bottom: 10px;
//   }
//
// }
//
// .char {
//   //width: 70%;
// }
//
//
// .card-list {
//   width: 100%;
//   padding-left: 5%;
//   list-style: none;
//   li {
//     margin-top: 5px;
//   }
// }
//
// .card-list li:first-child {
//   margin-top: 0;
//   font-size: 2rem;
//   span {
//     font-size: 3rem;
//   }
// }
