.red {
  background-color: red;
}

* {
  border: 1px solid magenta;
}

.logo {
  width: 40%;
}

form {
  width: 20%;
  display: inline-block;
}

img {
  height:200px;
  width: 200px;
}

.thumbnail {
  width: 240px;
  display: inline-block;
  text-align: center;
}

ul {
  list-style: none;
  padding-left: 0;
}
