
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

}
body {
  margin: 0;

}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

[role="button"], .button {
  cursor: pointer;
}
.container, header, footer, .row.copy {
  margin-right: auto;
  margin-left: auto;

}
@media (min-width: 768px) {
  .container, header, footer, .row.copy {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container, header, footer, .row.copy {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container, header, footer, .row.copy {
    width: 1170px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 5px;
  padding-right: 5px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 5px;
  padding-right: 5px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }

}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }

}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }

}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}
.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
}

$firstColor: #1F4E5F;
$secondColor: #0881A3;
$thirdColor: #F4E7D3;
$fourthColor: #F9F8ED;

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  text-align: justify;
  font-size: 1.6rem;
  //border: 1px solid magenta;
 }

html {
  font-size: 62.5%;
}

body {
  color: $firstColor;
  background-color: $thirdColor;
}

h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 1.8rem;
}

p, ul {
  line-height: 2.4rem;
}

.small-shadow {
 box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.shadow {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
     z-index: 1;
}

.shadow-hover {
  &:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
}

.container.full-width {
  width: 100%;
  overflow: visible;
}

.blocker {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,1);
  position: absolute;
  z-index: 200;
  transition: 0.5s;
}

.button {
  background-color: rgba($fourthColor, 0.5);
  border: 3px solid $firstColor;
  color: $firstColor;
  @extend .small-shadow;
  &:hover {
    @extend .shadow;
  }
}

#banner {
  padding-top: 5px;
  padding-right: 5px;
  text-align: right;
  position: absolute;
  z-index: 1000;
  right: 10px;
  top: 100px;
  width: 200px;
  height: 200px;
  position: fixed;
  background-image: url("./images/zoo_koty.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  a {
    position: absolute;
    display: inline-block;
    right: 20px;
    height: 30px;
    width: 160px;
    bottom: 5px;
  }
}

.heading {
  border-bottom: 5px solid $secondColor;
  margin-bottom: 10px;
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}


ul.square-list {
  list-style-type: square;
  list-style-position: inside;
}

.container-full {
  width: 100vw;
  max-width:100%;
}
.bar {
  width: 100%;
  background-color: $firstColor;
  @extend .small-shadow;
}
header {
  padding: 10px;
  background-color: $firstColor;
  box-shadow: 0 3px 0px rgba(0,0,0,0.16), 0 3px 0px rgba(0,0,0,0.23);
  color: $thirdColor;
  position: relative;
  z-index: 2;
  nav {
    font-weight: bold;
    height: 100px;
    overflow: hidden;
    display: none;
    @media (min-width: 992px) {
      display: flex;
    }
    ul#menu-desktop {
      float: right;
      list-style: none;
      display: none;
      justify-content: flex-end;
      flex-direction: row;
      align-items: flex-end;
      height: 100px;
      @media (min-width: 992px) {
        display: flex;
      }
      a {
        color: $thirdColor;
      }
      li {
        display: inline-block;
        margin-right: 1vw;
        text-align: center;
        border-bottom: 5px solid $firstColor;
        padding: 5px;
        &:hover {
          border-bottom: 5px solid $secondColor;
        }
        &:active {
          background-color: $secondColor;
          color: $firstColor;
        }
      }
    }
  }
}

.active-menu-link {
  border-bottom: 5px solid $secondColor;
}

#hamburger {
  background-color: $secondColor;
  box-shadow: 0 0 3px $secondColor;
  color: red;
  height: 46px;
  width: 46px;
  border-radius: 100%;
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 999;
  text-align: center;
  padding-top: 6px;
  span {
    background-color: $fourthColor;
    box-shadow: 0 0 3px $fourthColor;
    height: 4px;
    width: 25px;
    margin: 5px auto;
    display: block;
    border-radius: 15%;
    transition: all 0.8s;
    transform-origin: left center;
    &.hidden-span {
      background-color: $secondColor;
      box-shadow: none;
    }

    &.rotate-upper {
      margin-left: 14px;
      //width: 30px;
      transform: rotate(45deg);
    }
    &.rotate-bottom {
      margin-left: 14px;
      //width: 30px;
      transform: rotate(-45deg);
    }
  }
  @media (min-width: 992px) {
    display: none;
  }
}

#hamburger-menu {
  font-weight: bold;
  display: block;
  margin-left: -30px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  position: fixed;
  //width: 250px;
  top: -60px;
  padding: 20px;
  padding-top: 90px;
  background: $fourthColor;
  list-style-type: none;
  transition: 1s;
  h1 {
    color: $firstColor;
    margin-bottom: 20px;
  }
  li {
    padding: 10px 0;
    font-size: 20px;
  }
  a {
     text-decoration: none;
     color: $firstColor;
     transition: color 0.3s ease;
     &:hover {
       color: $secondColor;
     }
  }
  @media (min-width: 992px) {
    display: none;
  }
}

.inside {
  right: 0;
}

.outside {
  right: -270px;
}



//
// #menuToggle{
//   overflow: hidden;
//   position: absolute;
//   top: -15px;
//   right: -15px;
//   width: 100px;
//   padding-left: 300px;
//   float: right;
//   z-index: 1;
//   -webkit-user-select: none;
//   user-select: none;
//   a {
//    text-decoration: none;
//    color: $firstColor;
//    transition: color 0.3s ease;
//    &:hover {
//      color: $secondColor;
//    }
//   }
//    input {
//      right: 20px;
//      top: 20px;
//      display: block;
//      width: 40px;
//      height: 32px;
//      position: absolute;
//      cursor: pointer;
//      opacity: 0.0;
//      z-index: 2;
//      -webkit-touch-callout: none;
//    }
//
//    input:checked ~ span {
//      opacity: 1;
//      transform: rotate(45deg) translate(-2px, -1px);
//      background: $firstColor;
//    }
//    input:checked ~ span:nth-last-child(3) {
//      opacity: 0;
//      transform: rotate(0deg) scale(0.2, 0.2);
//    }
//    input:checked ~ span:nth-last-child(2) {
//      opacity: 1;
//      transform: rotate(-45deg) translate(0, -1px);
//    }
//    input:checked ~ ul {
//      transform: scale(1.0, 1.0);
//      opacity: 1;
//    }
//
//    span {
//      right: 55px;
//      top: 25px;
//      display: block;
//      width: 33px;
//      height: 4px;
//      margin-bottom: 5px;
//      position: relative;
//      background: $secondColor;
//      border-radius: 3px;
//      z-index: 1;
//      transform-origin: 4px 0px;
//      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
//                  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
//                  opacity 0.55s ease;
//     &:first-child {
//       transform-origin: 0% 0%;
//       padding-top: 20px;
//     }
//     &:nth-last-child(2) {
//       transform-origin: 0% 100%;
//     }
//   }
// }


.logo {
  height: 100px;
  background-image: url("./images/catlogo.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  h1 {
    color: $thirdColor;
    margin-left: 110px;
    margin-top: 40px;
    font-size: 4rem;
    text-shadow: 0px 0px 20px $secondColor;
  }
}

.main {
  background-image: url("./images/catpaws.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 50vh;
  section {
    display: inline-block;
    height: 100%;
    background-color: rgba($thirdColor, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    p {
      text-align: center;
      font-size: 2rem;
      font-weight: bold;
      text-shadow: 0px 0px 15px $fourthColor;
      margin-bottom: 20px;
    }
    h1, h2, h3 {
      text-shadow: 0px 0px 15px $fourthColor;
      font-weight: bold;
    }
    h1 {
      font-size: 2.8rem;
    }
    button {
      font-size: 30px;
      padding: 5px;
      margin-top: 20px;
    }
  }
}

.flex {
  display: flex;
}

.about {
  margin-top: 30px;
  .row.flex {
    flex-wrap: wrap;
    div.flex {
      padding: 10px;
      @media (min-width: 992px) {
        .tile.img {
          background-image: url("./images/catpavement.jpg");
          .blend {
            padding: 0 30px 0 30px;
          }
        }
      }
    }
  }
}


.tile {
  background-color: $fourthColor;
  padding: 20px;
  @extend .small-shadow;
  @extend .shadow-hover;
  width: 100%;
  display: inline-block;
  li {
    text-align: left;
  }
  &.img {
    padding: 0;
    background-size:cover;
    float: right;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: padding-box;
    .blend {
      padding-top: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 100%;
      background-color: rgba($thirdColor, 0.6);
      p {
        text-align: center;
        font-weight: bold;
        font-size: 2.4rem;
        line-height: 3rem;
        text-shadow: 0px 0px 15px $fourthColor;
      }
      button {
        font-size: 2rem;
        padding: 10px;
        margin-top: 30px;
        margin-bottom: 30px;
      }
    }
  }
}

.adopt {
  margin-top: 30px;
  .btn-wrapper {
    display: flex;
    justify-content: center;
  }
  button {
    font-size: 2rem;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .row.flex {
    flex-wrap: wrap;
    div.flex {
      padding: 10px;
    }
  .virtual-adopt {
    li {
      margin-bottom: 10px;
    }
    }
  }
}
.slider {
  order: -1;
  @media (min-width: 992px) {
    order: 0;
  }
}
#slider {
  width: 100%;
  background-image: url("./images/catslider.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
}

.another {
  margin-top: 30px;
  .row.flex {
    flex-wrap: wrap;
    div.flex {
      padding: 10px;
    }
  }
}

#contact {
  margin-top: 30px;
  .entrance-img {
    display: none;
    @media (min-width: 992px) {
      display: flex;
    }
  }
  .row.flex {
    flex-wrap: wrap;
  }
  img {
    width: 100%;
  }
}

.map {
  padding: 10px;
}
#map {
  width: 100%;
  min-height: 300px;
}

footer {

  margin-top: 30px;
  background-color: $firstColor;
  color: $secondColor;
  padding: 15px;
  ul {
    list-style: none;
  }
  li {
    font-size: 1.2rem;
    line-height: 1.6rem;

    .fa {
      font-size: 4rem;
    }
  }
  .social-media {
    width: auto;
    float: right;
    p {
      margin-bottom: 20px;
      padding-left: 20px;
    }
    ul {
      @media (min-width: 768px) {
        margin-top: 50px;
      }
    }
    li {
      display: block;
      margin-left: 20px;
      padding: 5px;
      @media (min-width: 768px) {
        display: inline;
      }
    }
    a {
      color: inherit;
    }
  }
}

.bar-copy {
  background-color: $thirdColor;
}

.copy {
  color: $firstColor;
  margin: 5px 0;
  .git {
    i {    span {
      margin-bottom: 10px;
    }
      float: right;
     font-size: 2.5rem;
    }
    span {
      float: right;
    }
    a {
      color: $firstColor;
    }

  }
}




// --------------- adoptions -----------------//

#selection-bar {
  background-color: $secondColor;
  color: $thirdColor;
  padding: 10px;
  @extend .small-shadow;
  .sort-container {
    float: right;
    #sort {
      display: inline-block;
      float: right;
    }
  }
}

#filter-menu {
  position: absolute;
  @extend .small-shadow;
  color: $firstColor;
  background-color: $fourthColor;
  top: 33px;
  left: -10px;
  width: 60vw;
  padding: 10px;
  z-index: 2;
  form {
    font-size: 2rem;
    line-height: 3.3rem;
    label {
      font-size: 2.2rem;
      padding-left: 15px;
      font-weight: bold;
    }
    input {
      margin-left: 20px;
    }
    [type="submit"] {
      font-size: 2rem;
      margin-top: 20px;
      float: right;
      padding: 10px;
      margin-right: 20px;
    }
  }
}

.filter-click {
  @media (min-width: 992px) {
    display: none;
  }
}

.black-blend {
  position: absolute;
  background-color: rgba(black,0.3);
  height: 100vh;
  width: 100vw;
  max-width:100%;
  z-index: 1;
}

#filter-menu-desktop {
  display: none;
  @extend .small-shadow;
  color: $firstColor;
  background-color: $fourthColor;
  form {
    font-size: 1.8rem;
    line-height: 3.3rem;
    label {
      font-size: 2rem;
      padding-left: 15px;
      font-weight: bold;
    }
    input {
      margin-left: 20px;
    }
    [type="submit"] {
      font-size: 2rem;
      margin-top: 20px;
      float: right;
      padding: 10px;
      margin-right: 20px;
      margin-bottom: 20px;
    }
  }
  @media (min-width: 992px) {
    display: block;
  }
}

#results {
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;

  .tile {
    padding: 10px;
    height: 98%;
  }
  .cat-card {
    padding-bottom: 70px;
    position: relative;

    .thumbnail {
      @media (min-width: 768px) {
        height: 340px;
        width: 340px;
        overflow: hidden;
        position: relative;
      }
      @media (min-width: 992px) {
        height: 236px;
        width: 236px;
      }
      @media (min-width: 1200px) {
        height: 211px;
        width: 211px;
      }
    }
    .cat-img {
      width: 100%;
      @media (min-width: 768px) {
        position: absolute;
        left: 50%;
        top: 50%;
        height: 100%;
        width: auto;
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
      }
    }
    h1 {
      margin: 10px 0;
    }
    #keywords {
      margin-top: 10px;
      font-weight: bold;
      margin-bottom: 10px;
      text-align: left;
    }
    p.cat-short-desc {
      font-size: 1.4rem;
      line-height: 1.9rem;
    }
    button.more {
      padding: 5px 3px 5px 3px;
      margin: 5px 10px 5px 10px;
      position: absolute;
      bottom: 10px;
      right: 10px;
    }
  }
}

.thumbnail {
  @media (min-width: 768px) {
    height: 340px;
    width: 340px;
    overflow: hidden;
    position: relative;
  }
  @media (min-width: 992px) {
    height: 236px;
    width: 236px;
    overflow: hidden;
    position: relative;
  }
  @media (min-width: 1200px) {
    height: 211px;
    width: 211px;
    overflow: hidden;
    position: relative;
  }
}

/* cat full profile */

#cat-full-profile {
  margin-top: 10px;
  .photo-thumbnails {
    margin-bottom: 15px;
    .gallery-thumbnail {
      display: inline-block;
      background-color: $fourthColor;
      padding: 5px;
      margin: 3px;
      @extend .small-shadow, .shadow-hover;
      .cont {
        overflow: hidden;
        height: 100px;
        width: 100px;
        position: relative;
        img {
          height: 100%;
          width: auto;
          @media (min-width: 768px) {
            position: absolute;
            left: 50%;
            top: 50%;
            height: 100%;
            width: auto;
            -webkit-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
          }
        }
      }
    }
  }
  #big-photo {
    background-color: $fourthColor;
    padding: 10px;
    @extend .shadow;
    img {
      width: 100%;
    }
  }

  .cat-full-info {
    padding: 10px;
    div {
      padding: 10px;
      background-color: $fourthColor;
      @extend .small-shadow, .shadow-hover;
      padding-bottom: 30px;
      margin-bottom: 20px;
      ol {
        list-style-position: inside;
        li {
          font-weight: bold;
          padding-bottom: 20px;
          form {
            margin-top: 10px;
            margin-left: 20px;
          }
          .button {
            margin-left: 20px;
            margin-top: 10px;
            padding: 5px 10px;
          }
        }
      }
    }
  }
}
